<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a709a5bb-a06d-4f1e-b2ab-c465b9d989b5/resourceGroups/DM106/providers/Microsoft.Web/sites/lydiaTrabalhoFinalDm106</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lydiatrabalhofinaldm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lydiatrabalhofinaldm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lydiaTrabalhoFinalDm106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lydiaTrabalhoFinalDm106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Trabalho_Final_Lydia_Dm106.Models.ApplicationDbContext, Trabalho_Final_Lydia_Dm106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Trabalho_Final_Lydia_Dm106Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Trabalho_Final_Lydia_Dm106.Models.Trabalho_Final_Lydia_Dm106Context, Trabalho_Final_Lydia_Dm106" MigrationConfiguration="Trabalho_Final_Lydia_Dm106.Migrations.Configuration, Trabalho_Final_Lydia_Dm106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Trabalho_Final_Lydia_Dm106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Trabalho_Final_Lydia_Dm106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Trabalho_Final_Lydia_Dm106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Trabalho_Final_Lydia_Dm106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Trabalho_Final_Lydia_Dm106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lydiatrabalhofinaldm106serverdb.database.windows.net,1433;Initial Catalog=lydiaTrabalhoFinalDm106_db;User ID=lydiabraga;Password=Lydia#Braga</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>